.carouselWrapper {
  height: 600px;
}
.carouselContainer {
  height: 100%;
  background-image: url("../../../assets/imgs/carouselimg1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 1px solid black;
  display: flex;
  align-items: center;
}

.cta {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  margin-left: 0;
}

.cta * {
    margin-left: 0;
}

.ctaButton {
    border-radius: 5px;
    border: none;
    background-color: #FAA500;
    color: #FFF;
    padding: 10px 20px 10px 20px;
    cursor: pointer;
}
